.achievements {
  background: $bg_lightgrey;
  padding-top: 40px;

  &__achieves {
    height: 100%;
    border: none;
  }

  &__header {
    margin: 0 20px;
    text-align: center;
    font-weight: normal;
    font-size: 14px;
    text-transform: uppercase;
    color: $darkpink;
  }

  &__items {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 49px;
  }

  &__item {
    position: relative;
    flex-basis: 82px;
    font-size: 18px;
    padding-left: 70px;
  }

  &__item::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 39px;
    height: 39px;
    border: solid 2px $borders;
    background: $bg_white;
  }

  &__item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 10px;
    width: 20px;
    height: 10px;
    transform: rotate(-45deg);
    border-left: solid 2px $darkpink;
    border-bottom: solid 2px $darkpink;
  }

  &__checkbox {
    display: none;
  }

  @media (--tablet-widths) {
    background: none;
  }

  @media (--desktop-widths) {
    background: none;
  }





}
