.download {
  text-align: center;
  color: $bg_white;
  padding: $mobile-margin;
  font-weight: lighter;
  background-color: $darkblue;

  &__comment {
    font-size: 14px;
    line-height: 24px;
  }

}
