.footer {
  text-align: center;

  &__logo {
    background: url(../img/logo-pink-blue-mobile.svg) no-repeat;
    width: 150px;
    height: 40px;
    margin: auto;
  }

  &__copyright {
  }

  @media (--mobile-widths) {}
  @media (--tablet-widths) {}
  @media (--desktop-widths) {}
}
