.header {
  min-height: 237px;
  background: url(../img/bg-back-mobile@1x.jpg) top center no-repeat;

  &__title {
    margin-top: 35px;
    text-align: center;
    color: $bg_white;
    font-family: 'Myriad Pro Regular';
  }
  &__image {
    margin-top: 110px;
  }
}
