.header {
  height: 730px;
  background-image: url(../img/bg-back-mobile@1x.jpg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;

  &--index {
  background-image: url(../img/iphone-hand-mobile@1x.png),
                    url(../img/bg-back-mobile@1x.jpg);
  background-size: auto, cover;
  background-position: top 175px left, top center;
  background-repeat: no-repeat;

  @media (--tablet-widths) {
    background-size: 470px auto, cover;
    background-position: bottom right 45px, top center;
  }

  @media (--desktop-widths) {
    position: relative;
    background-size: 470px auto, cover;
    background-position: bottom right 157px, top center;
  }
}

  &__text {
    text-align: center;
    background-color: $bg_white;
    position: absolute;
    bottom: 0;
    height: 270px;
  }

  &__title {
    padding: 0 20px;
    margin-top: 35px;
    text-align: center;
    color: $bg_white;
    font-weight: lighter;
  }

  @media (--mobile-widths) {
    position: relative;
  }

  @media (--tablet-widths) {
  }

  @media (--desktop-widths) {
  }


}
