.mention {
  text-align: center;

  @media (--mobile-widths) {
    &__about-user {
      display: none;
    }
  }
  @media (--tablet-widths) {
    flex-shrink: 0;
    width: 620px;
  }
  @media (--desktop-widths) {
    flex-shrink: 0;
    width: 940px;
  }
}
