.nav {
  overflow: hidden;
  background: rgba(0, 0, 0, 0.3);

  &__logo {
    background: url(../img/logo-pink-white-mobile.svg) no-repeat;
    width: 75px;
    height: 25px;
    background-origin: content-box;
  }


  @media (--mobile-widths) {
    &__logo {
      background: url(../img/)
    }
  }

  @media (--tablet-widths) {

  }

  @media (--desktop-widths) {

  }










/*старый код*/
  @media (--desktop-widths) {
    display: flex;

  }



  &__items {
    display: none;

    @media (--desktop-widths) {
      display: flex;
      flex: 1;
      justify-content: space-between;

    }
  }

  &__item {
    list-style-type: none;
  }

  &__items a {
    color: $bg_white;
    font-weight: bold;
    text-decoration: none;
  }
}
