.story-form fieldset {
}

.story-form {
  &__item {
    margin: $mobile-margin;
  }
  &__text {
    text-align: center;
    margin: $mobile-margin;
  }
  &__fieldset {
    display: flex;
  }
  &__row {
    font-size: 14px;
    text-transform: uppercase;
    color: $darkpink;
  }
  &__caption {
    margin-left: 20px;
  }
  &__textfield {
    width: 260px;
    height: 60px;
    padding-left: 20px;
    border: solid 2px $bg_lightgrey;
    display: block;
    font-size: 18px;
    font-weight: normal;
  }
  &__textfield::placeholder,
  &__textarea::placeholder {
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: normal;
    color: $darkblue;
  }
  &__header {
    text-align: center;
    font-weight: normal;
    font-size: 14px;
    text-transform: uppercase;
    color: $darkpink;
  }
  &__achievements {
    background: $bg_lightgrey;
    padding: $mobile-margin;
  }
  &__apps {
    padding: $mobile-margin;
    background: $bg_lightgrey;
  }
  &__user-story {
    text-align: center;
  }
  &__textarea {
    width: 280px;
    height: 200px;
  }



}
