.story-form {

  @media (--tablet-widths) {
    display: flex;
    justify-content: row-reverse;
    flex-direction: column-reverse;

    &__username {
      order: 1;
    }

    &__user-story {
      order: -1;
    }

    &__send-form {
      order: -2;
    }
  }



  @media (--desktop-widths) {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;

    &__username {
      width: 50%;
      order: 1;
    }

    &__apps {
      width: 50%;
    }

    &__user-story {
      width: 100%;
      order: -1;
    }

    &__send-form {
      width: 100%;
      order: -2;
    }




  }

}
