
.story-form {

  @media (--tablet-widths) {
    display: flex;
    justify-content: row-reverse;
    flex-direction: column-reverse;

    &>* {
      flex: 100%;

    }

    &__username {
      order: 1;
    }

    &__apps {
    }

    &__user-story {
      order: -1;
    }

    &__send-form {
      order: -2;
    }
  }

  /*@media (--desktop-widths) {
    display: flex;
    flex-wrap: wrap;
    &>* {
      flex: 100%;
    }

    &__username {
      order: -2;
      flex: 50%;
    }

    &__apps {
      order: -1;
      flex: 50%;
    }

    &__user-story {
      flex: 100%;
    }

    &__send-form {

    }
  }*/
}
