@import "../node_modules/normalize.css/normalize.css";
@import "variables.css";
@import "header.css";
@import "nav.css";
@import "download.css";
@import "offer.css";
@import "advantages.css";
@import "slider.css";
@import "map.css";
@import "fonts.css";
@import "services-package.css";
@import "contacts.css";
@import "photos.css";
@import "photo-block.css";
@import "add-photo.css";
@import "mention.css";
@import "button.css";
@import "story-form.css";
@import "achievement.css";
@import "apps.css";
@import "popup.css";
@import "footer.css";
@import "container.css";

html {
  background: gray;
  /*background: url() no-repeat*/
}

body {
  margin: auto;
  background: #fff;
  font-family: 'Open Sans';
  color: $darkblue;
}

body {
  @media (--mobile-widths) {
    max-width: 320px;
  }
  @media (--tablet-widths) {
    max-width: 700px;
  }
  @media (--desktop-widths) {
    max-width: 1200px;
  }
}
